<html>

<h1>Rapports</h1>

<div class="panel-body">
    <div ng-controller="TransfertCtrl">

        <div class="row">
            <div class="col-lg-6 col-sm-12" id="line-chart" ng-controller="LineCtrl">
                <div class="panel panel-default">
                    <div class="panel-heading">Evolution des utilisateur par mois(2015)</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true"
                                click="onClick" hover="onHover" series="series"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 col-sm-12" id="bar-chart" ng-controller="BarCtrl">
                <div class="panel panel-default">
                    <div class="panel-heading">Evolution des utilisateurs selon le sexe </div>
                    <div class="panel-body">
                        <canvas id="bar" class="chart chart-bar" data="data" labels="labels" series="series"
                                options="options" Legend="true"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-controller="DoughnutCtrl">
                <div class="panel panel-default">
                    <div class="panel-heading">Utilisateurs par marges de salaires</div>
                    <div class="panel-body">
                        <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="data" labels="labels" legend="true"></canvas>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-12" id="radar-chart" ng-controller="RadarCtrl">
                <div class="panel panel-default">
                    <div class="panel-heading">intéret par sexe</div>
                    <div class="panel-body">
                        <canvas id="area" class="chart chart-radar" data="data" labels="labels" series="series" click="onClick" Legend=true></canvas>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-lg-6 col-sm-12" id="pie-chart" ng-controller="PieCtrl">
                <div class="panel panel-default">
                    <div class="panel-heading">Utilisateurs par catégorie</div>
                    <div class="panel-body">
                        <canvas id="pie" class="chart chart-pie chart-xs" data="data" labels="labels" Legend="true"></canvas>
                    </div>
                </div>
            </div>

        </div>



        </div>
    </div>

</body>
</html>